@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color: rgb(249 115 22);
 background-clip: border-box;
}
@media (min-width: 768px) {
  h2{
    font-size: 20px;
  }
}
@media (min-width: 640px) {
  h2{
    font-size: 15px;
  }
}